.footer {
  @include container;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  &__list {
    @include unstyle-list;
    @include flex-row;
    justify-content: flex-start;
  }
  a {
    color: #fff;
    display: block;
    padding: 20px 20px 20px 0;
  }
  p {
    color: $text-color;
  }
}
