input {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  outline: none;
  &.email {
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    border: 2px solid #fff;
    &:hover {
      background-color: $form-border;
      border-color: $form-border;
    }
    &:focus {
      background-color: $form-border;
      border-color: $form-border;
      box-shadow: 0 0 8px rgba(102,175,233,.6);
    }
  }
}
