header {
  @include container;
  padding: 20px;
  .navigation-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    background-color: $navigation-background;
    border-left: 6px solid $border-background;
    z-index: 10;
    transition: $transition;
  }
}
