.informations {
  @include container;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 40px 15px;
  background-color: $information-color;
  &__title {
    padding: 15px 0 20px;
  }
  &__contact {
    a {
      color: #999;
      cursor: pointer;
      &:hover {
          color: #fff;
      }
    }
  }
  &__link {
    @include breakpoint(meg) {
      padding: 0 15px;
    }
  }
  &__newsletter {
    p {
      max-width: 300px;
    }
  }
  p  {
    padding: 5px;
    line-height: 22px;
    color: $text-color;
  }
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
  .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }
  @include breakpoint(peter) {
    &::before {
      @include fullwidth;
      left: -100%;
    }
    &::after {
      @include fullwidth;
      left: 100%;
    }
  }
}
