.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  cursor: pointer;
  transition: all .4s ease-out;
  &__title {
     padding: 10px 0;
     line-height: 45px;
   }
  &__content {
     line-height: 22px;
   }
  &--responsive {
     background-color: $card1-background;
     @include breakpoint(meg) {
       margin-right: 32px;
     }
   }
  &--easy {
     background-color: $button-hover;
     @include breakpoint(chris) {
       margin-right: 32px;
     }
   }
  &--quick {
     background-color: $card2-background;
     flex-grow: 2;
     margin-left: 0;
     @include breakpoint (chris) {
       flex-grow: 0;
       margin-left: 32px;
     }
   }
  i {
    padding: 30px 15px 30px 30px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .fa-mobile-alt {
    padding: 30px 25px 30px 40px;
  }
  .fa-life-ring {
    padding: 30px 19px 30px 32px;
  }
  &:hover {
    transform: translateY(-20px);
  }
 }
