.nav {
  display: none;
  position: absolute;
  left: 0;
  top: 85px;
  width: 100%;
  background-color: $navigation-background;
  border-top: 2px solid $nav-border;
  &.open {
    display: block;
  }
  @include breakpoint(brian) {
    display: block;
    position: relative;
    top: 0;
    border-top: none;
  }
  &__menu {
    @include unstyle-list;
    padding-left: 10px;
    padding-right: 30px;
    @include breakpoint(brian) {
      float: right;
      padding-right: 0;
    }
  }
  li {
      @include breakpoint(brian) {
        display: inline-block;
      }
      a {
          @include text(13px, 400, $nav-border);
          display: block;
          padding: 5px 10px;
          line-height: 40px;
          text-transform: uppercase;
          &:hover {
            color: $card2-background;
          }
        }
      }
    .current-menu-item:active {
      background-color: $hover-text;
    }
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -6px;
    width: 6px;
    height: 101%;
    background-color: $border-background;
    @include breakpoint(brian) {
      content: none;
    }
  }
} 
