.nav {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 85px;
  background-color: $navigation-background;
  border-top: 2px solid $nav-border;
  &.open {
    display: block;
  }
  @include breakpoint(brian) {
    position: relative;
    display: block;
    border-top: none;
    top:0;
  }
  &__menu {
    @include unstyle-list;
    padding-left: 10px;
    padding-right:  30px;
    @include breakpoint(brian) {
      float: right;
      padding-right: 0;
    }
  }
  li {
      @include breakpoint(brian) {
        display: inline-block;
      }
      a {
          @include text(13px, 400, #f2f2f2);
          display: block;
          padding: 5px 10px;
          line-height: 40px;
          text-transform: uppercase;
          &:hover {
            color: #ffa500;
          }
        }
  }
    .current-menu-item:active {
      background-color: $hover-text;
    }
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -6px;
      width: 6px;
      height: 101%;
      background-color: $border-background;
      @include breakpoint(brian) {
        content: none;
        }
    }
}
