$body-background: #101010;

$navigation-background: #202020;
$nav-border: #e7e7e7;
$border-background: #d54ab6;
$primary-color: #191919;
$information-color: #1c1c1c;

$button-hover: #009988;
$hover-text: #333;
$card1-background: #c14000;
$card2-background:  #ffa500;

$team-border: #303030;
$progress-bar1: #f0ad4e;
$progress-bar2: #d9534f;
$progress-bar3: #337ab7;

$form-border: #806040;
$form-focus: #404040;

$text-color: #808080;

$transition: all .4s ease-in;
$white-border: 2px solid #fff;
